/*
* @Author: Administrator
* @Date:   2018-02-07 15:43:37
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-07 15:57:49
*/
.category-container{
  width: 100%;
}
.left-contorl{
  width: 0.75rem;
  float: left;
  border-right: 1px solid #D8D8D8;
}
