/*
* @Author: Administrator
* @Date:   2018-02-08 11:39:09
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-08 11:47:10
*/
.tem-product-item{
  width: 50%;
  float: left;
  padding:0.1rem 1% 0;
  text-align: center;
}
.tem-product-item img{
  width: 80%;
}
.tem-product-item .product-info{
  width: 100%;
  padding-bottom: 0.1rem;
}
