/*
* @Author: Administrator
* @Date:   2018-02-06 13:12:51
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-08 11:33:47
*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 0.4rem;
  line-height: 0.4rem;
  background: #AB956D;
  text-align: center;
  color: #fff;
  font-size: 0.14rem;
  z-index: 999;
}
.back{
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}
