/*
* @Author: Administrator
* @Date:   2018-02-06 13:12:51
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-06 13:48:01
*/
.header{
  height: 0.4rem;
  line-height: 0.4rem;
  background: #AB956D;
  text-align: center;
  color: #fff;
  font-size: 0.14rem;
}
